@using Barbeda.Extensions;
@using Barbeda.Models;
@model Barbeda.ViewModel.ServiceImagesVM
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Edit</h2>

<form method="post" enctype="multipart/form-data">
    @Html.AntiForgeryToken()
    <div class="form-group">
        <label>Services</label>
        @Html.DropDownList("ServiceId", Model.Services.ToSelectList<Service>("Id", "Name"), "Select Group", new { @class = "form-control" ,value=ViewBag.ServiceId })
    </div>
    <div class="form-group ">
        <label for="photo">Choose Photo</label>
        <input type="file" id="photo" name="Photo" class="form-control" />
    </div>
    <div class="form-group">
        <label>Current Image</label>
        <img src="~/Assets/img/@ViewBag.Image" style="height:100px;object-fit:contain" class="form-control" alt="Alternate Text" />
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-primary form-control" value="Update Service Image" />
    </div>
    <a href="~/Admin/ServicePortfolios/Index" class="btn btn-dark">Back to list</a>
</form>

