@model  IEnumerable<Barbeda.Models.ServicetoBarber>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPage1.cshtml";
}

<div class="card mb-3">
    <div class="card-header">
        <h2 class="m-b-10">Service</h2>
        <h3><a href="/Admin/ServicetoBarbers/Create"> <b>+</b> Service to Barbers</a></h3>
    </div>

    <div class="card-body">
        <div class="table-responsive">
            <table style="width:100%" class="table table-bordered table-striped member-hover dataTable" id="dataTable" cellspacing="0">
                <thead>
                    <tr>
                        <th>Barber Name</th>
                        <th>Service Name</th>
                        <th colspan="3">Actions</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Barber Name</th>
                        <th>Service Name</th>
                        <th colspan="3">Actions</th>
                    </tr>
                </tfoot>
                <tbody>
                    @for (int i = 0; i < Model.Count(); i++)
                    {
                        <tr>
                            <td>@Model.ElementAt(i).Barber.FullName</td>
                            <td>@Model.ElementAt(i).Service.Name</td>

                                
                                @*<td><img style="width:200px" src="~/Assets/img/@item." class="img-fluid"></td>*@

                                <td>
                                    <a href="/Admin/ServiceToBarbers/Edit/@Model.ElementAt(i).Id" class="btn btn-warning"><i class="fas fa-edit"></i></a>
                                </td>
                                <td>
                                    <a href="/Admin/ServiceToBarbers/Delete/@Model.ElementAt(i).Id" class="btn btn-warning"><i class="fas fa-trash-alt"></i></a>
                                </td>
                        </tr>
                    }
                   
                </tbody>
            </table>
        </div>
    </div>
</div>




